# Mailchimpin julkinen lomakeosoite. Ei salaisuus.
PUBLIC_MAILCHIMP_ACTION=https://mc.us11.list-manage.com/subscribe/landing-page?u=f1b3f0a0772f245a6b8f167e5&id=da9f94ebd6&f_id=00b5d5e3f0

# Täytetään, kun Mailchimpiin on luotu piilotettu Finland-ryhmä.
# Esimerkki: group[01245][8]
PUBLIC_MAILCHIMP_GROUP_NAME=
PUBLIC_MAILCHIMP_GROUP_VALUE=
